@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

i {
  color: #fff;
  cursor: pointer;
}

img {
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
}

html,
body {
    background: linear-gradient(#050505,#18181d);
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    background: linear-gradient(#050505,#18181d);
}

